@model IquraSchool.Models.AcademicYear

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Створити</h1>

<h4>AcademicYear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BeginYear" class="control-label"></label>
                <input asp-for="BeginYear" class="form-control" id="beginYear" value="@(Model.BeginYear + 1)" />
                <span asp-validation-for="BeginYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndYear" class="control-label"></label>
                <input asp-for="EndYear" class="form-control" id="endYear" readonly value="@(Model.EndYear + 1)" />
                <span asp-validation-for="EndYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let lastAcademicYear = @Json.Serialize(Model);
            let { id, beginYear, endYear } = lastAcademicYear;
                        
            //on change
            $("#beginYear").change(function () {
                let beginYearValue = $(this).val();
                $("#endYear").val(+beginYearValue + 1);
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
