@{
    ViewData["Title"] = "Лабораторна роботи ІСтаТП 2023. Школа";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mx-2" >Вхід</a>
    //<a asp-controller="Account" asp-action="Register" class="btn btn-secondary mx-2" >Реєстація</a>
}
