@model IEnumerable<IquraSchool.Models.ScheduleInfo>

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var daysOfWeek = ViewBag.DayOfTheWeeks as List<string>;
    var lookup = Model.ToDictionary(item => (item.DayOfTheWeek, item.LessonNumber), item => item);
}
<div id="container-fluid">
    <h2>Розклад</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>Понеділок</th>
                <th>Вівторок</th>
                <th>Середа</th>
                <th>Четвер</th>
                <th>П'ятниця</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 8; i++)
            {
                <tr>
                    <td>@i</td>
                    @for (int j = 0; j <= 4; j++)
                    {
                        <td>
                            @if (lookup.TryGetValue((j, i), out var item))
                            {
                                 @item.Course.Subject.Name
                                 @*@item.Classroom.Number
                                 @item.Teacher.FullName*@
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
