@model IEnumerable<IquraSchool.Models.ScheduleInfo>

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var daysOfWeek = ViewBag.DayOfTheWeeks as List<string>;
}
<div class="grid" id="container-fluid">
    

</div>